# extra pip-based requirements to install
# which are not captured in conda-lock file
aacgmv2==2.6.2
apexpy==2.0.1
astroquery==0.4.6
ai.cs==1.0.7
ccdproc==2.3.0
cloudcatalog>=0.4
#fiasco==0.2.3
geospacepy==0.2.2
gwcs==0.18.1
hapiplot==0.2.2
jupyterlab-s3-browser==0.10.1
jupyter-offlinenotebook
jupytext==1.13.8
nbzip==0.1.0
numpy>=1.22.2
ocbpy==0.2.1
OMMBV==1.0.1
pfsspy[performance]
pyEphem==9.99
pyForecastTools==1.1.1
pysat==3.2.0
pysatCDAAC==0.0.4
pysatCDF==0.3.2
pysatMadrigal==0.2.0
pysatMissions==0.3.4
#pysatModels
pysatNASA==0.0.5
pysatSeasons==0.2.0
pysatSpaceWeather==0.1.0
speasy==1.2.7
solarmach==0.1.1
viresclient==0.10.2
